<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<form class="layui-form" id="project-edit-form" lay-filter="project-edit-form">
    <div class="layui-form-item">
        <label class="layui-form-label">选择机构</label>
        <div class="layui-input-block">
            <select class="sel" id="orgId" name="OrganizationId" lay-verify="required|select" lay-filter="orgfilter"></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">项目名称</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="hidden" name="Id" value="{{ d.params.id || '' }}" lay-verify="required" class="layui-input">
                <input type="text" name="Name" value="{{ d.params.name || '' }}" placeholder="" lay-verify="required|normallength" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">负责人</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="text" name="Owner" value="{{ d.params.owner || '' }}" lay-verify="required|normallength" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lines">负责人电话</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="text" id="ownerPhone" name="OwnerPhone" value="{{ d.params.ownerPhone || '' }}" maxlength="11" lay-verify="required|phone" autocomplete="off" placeholder="" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开始时间</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="text" id="starttime" readonly="readonly" name="StartTime" value="{{ d.params.startTime || '' }}" placeholder="" lay-verify="required|datetime" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">结束时间</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="text" id="endtime" readonly="readonly" name="EndTime" value="{{ d.params.endTime || '' }}" placeholder="" lay-verify="required" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">进行状态</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <select name="ProgressStatus" id="progressStatus">
                    <option value="0">未开始</option>
                    <option value="1">进行中</option>
                    <option value="2">已结束</option>
                </select>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lines">项目状态</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="radio" name="status" lay-filter="status" value="false" title="禁用">
                <input type="radio" name="status" lay-filter="status" value="true" title="启用">
            </script>
        </div>
    </div>
    <div class="layui-form-item content-center">
        <button class="layui-btn" id="btn-save" type="button" lay-filter="projects-edit-form-submit" lay-submit="projects-edit-form-submit">保存</button>
    </div>
</form>