<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    机构数
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" id="organizationCount">9,999,666</p>
                    <p>
                        最近一个月新增数
                        <span class="layuiadmin-span-color"><span id="organizationMonthCount">153</span><i class="layui-icon layui-icon-rate"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    项目数
                    <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" id="projectCount">33,555</p>
                    <p>
                        最近一个月新增数
                        <span class="layuiadmin-span-color"><span id="projectMonthCount">153</span><i class="layui-icon layui-icon-rate"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    内容数
                    <span class="layui-badge layui-bg-green layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font" id="contentCount">999,666</p>
                    <p>
                        最近一个月新增数
                        <span class="layuiadmin-span-color"><span id="contentMonthCount">153</span><i class="layui-icon layui-icon-rate"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    用户数
                    <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font" id="userCount">66,666</p>
                    <p>
                        最近一个月新增数
                        <span class="layuiadmin-span-color"><span id="userMonthCount">100</span><i class="layui-icon layui-icon-rate"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    题目壳数
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font"  id="questionGroupCount">66,666</p>
                    <p>
                        最近一个月新增数
                        <span class="layuiadmin-span-color"><span id="questionGroupMonthCount"></span><i class="layui-icon layui-icon-rate"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    题目数
                    <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font" id="questionsCount">66,666</p>
                    <p>
                        最近一个月新增数
                        <span class="layuiadmin-span-color"><span id="questionsMonthCount"></span><i class="layui-icon layui-icon-rate"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    训练游戏数
                    <span class="layui-badge layui-bg-green layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font" id="trainingGamesCount">66,666</p>
                    <p>
                        最近一个月新增数
                        <span class="layuiadmin-span-color"><span id="trainingGamesMonthCount"></span><i class="layui-icon layui-icon-rate"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    测评游戏数
                    <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font" id="evaluateGameCount">66,666</p>
                    <p>
                        最近一个月新增数
                        <span class="layuiadmin-span-color"><span id="evaluateGameMonthCount"></span><i class="layui-icon layui-icon-rate"></i></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--项目分布 开始-->
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">机构分布</div>
                <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade">
                    <div carousel-item id="LAY-index-pagethree">
                        <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--项目分布 结束-->
    <!--数据概览 开始-->
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据概览</div>
                <div class="layui-card-body">
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                        <div carousel-item id="LAY-index-dataview">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--数据概览 结束-->
    <div class="layui-row layui-col-space15">
        <!--项目进度监控 开始-->
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">项目进度监控</div>
                <div class="layui-card-body layadmin-takerates">
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>东升一中<span class="layui-edge layui-edge-top" lay-tips="项目进度监控" lay-offset="-15"></span></h3>
                        <div class="layui-progress-bar" lay-percent="65%"></div>
                    </div>
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>东升一中<span class="layui-edge layui-edge-bottom" lay-tips="项目进度监控" lay-offset="-15"></span></h3>
                        <div class="layui-progress-bar" lay-percent="32%"></div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">项目实时监控</div>
                <div class="layui-card-body layadmin-takerates">
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>东升一中</h3>
                        <div class="layui-progress-bar" lay-percent="58%"></div>
                    </div>
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>东升一中</h3>
                        <div class="layui-progress-bar layui-bg-red" lay-percent="90%"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--项目进度监控 结束-->
        <!--内容能力维度覆盖 开始-->
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">内容能力维度覆盖</div>
                <div class="layui-card-body">
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-pageone">
                        <div carousel-item id="LAY-index-pageone">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--内容能力维度覆盖 结束-->
    </div>
</div>
<script>
    //加载 controller 目录下的对应模块
    layui.use('console', layui.factory('console'));
</script>

