<form class="layui-form" id="gateway-form" lay-filter="gateway-form">
    <div class="layui-form-item">
        <label class="layui-form-label">网关名称</label>
        <div class="layui-input-block ">
            <input type="text" id="Name" name="Name" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">全局key</label>
        <div class="layui-input-block">
            <input type="text" id="RequestIdKey" name="RequestIdKey" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lines">根地址</label>
        <div class="layui-input-block">
            <input type="text" id="BaseUrl" name="BaseUrl" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lines">下游架构</label>
        <div class="layui-input-block">
            <input type="text" id="DownstreamScheme" name="DownstreamScheme" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lines">服务发现</label>
        <div class="layui-input-block">
            <textarea name="ServiceDiscoveryProvider" lay-verify="required" placeholder="" class="layui-textarea" style="margin-top: 0px; margin-bottom: 0px; height: 100px;"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lines">负载均衡</label>
        <div class="layui-input-block">
            <textarea name="LoadBalancerOptions" lay-verify="required" placeholder="" class="layui-textarea" style="margin-top: 0px; margin-bottom: 0px; height: 100px;"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lines">Http</label>
        <div class="layui-input-block">
            <textarea name="HttpHandlerOptions" lay-verify="required" placeholder="" class="layui-textarea" style="margin-top: 0px; margin-bottom: 0px; height: 100px;"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lines">安全配置</label>
        <div class="layui-input-block">
            <textarea name="QoSOptions" lay-verify="required" placeholder="" class="layui-textarea" style="margin-top: 0px; margin-bottom: 0px; height: 100px;"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lines">是否默认</label>
        <div class="layui-input-block">
            <select name="IsDefault">
                <option value="false">否</option>
                <option value="true">是</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lines">是否有效</label>
        <div class="layui-input-block">
            <select name="Status">
                <option value="false">无效</option>
                <option value="true">有效</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item content-center">
        <button class="layui-btn" id="btn-save" type="button" lay-filter="gateway-add-form-submit" lay-submit="gateway-add-form-submit">保存</button>
    </div>
</form>