<title>网关配置</title>

<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/template.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>配置中心</cite></a>
        <a><cite>网关配置</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="gatewaysettings-search">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <button class="layui-btn btn-gateway" data-type="add">添加</button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table class="layui-table" id="gateway-table" lay-filter="gateway-table"></table>
        </div>
    </div>
</div>

<script>
    layui.use('gatewaysettings', layui.factory('gatewaysettings')).use(['admin', 'gatewaysettings', 'table', 'common', 'setter', 'layer'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , table = layui.table
            , layer = layui.layer
            , setter = layui.setter
            , form = layui.form
            , common = layui.common;

        var active = {
            add: function () {
                admin.popup({
                    title: '添加'
                    , area: ['40%', '90%']
                    , resize: false
                    , success: function (layero, index) {
                        view(this.id).render('settings/gateway/add').done(function () {
                            form.render();
                            form.on('submit(gateway-add-form-submit)', function (data) {
                                common.ajax(setter.apiAddress.gateway.add, "POST", "", $('#gateway-form').serialize(), function (res) {
                                    if (res.statusCode == 200) {
                                        layer.close(index);
                                        layui.table.reload('gateway-table');
                                    }
                                    layer.msg(res.message);
                                });
                            });
                        });
                    }
                });
            }
        };

        $('.layui-btn.btn-gateway').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
